name: test  # default testing environment name from conda-incubator
dependencies:
  - gfortran=12.2.0  # for isitgr
  - python=3.8
  - pip
  - cmake
  - gsl
  - swig
  - pyyaml
  - numpy
  - scipy
  - camb
  - fast-pt
  - pytest=7.4.3
  - pytest-cov
  - pip:
      - tables==3.8.0  # for baccoemu
      #- classy<3
      - isitgr
      - velocileptors @ git+https://github.com/sfschen/velocileptors
      - baccoemu @ git+https://bitbucket.org/rangulo/baccoemu.git@master
      - MiraTitanHMFemulator
