name: test  # default testing environment name from conda-incubator
dependencies:
  - pip
  - cmake
  - gsl
  - swig
  - numpy
  - scipy
  - camb=1.3.6
  - isitgr
  - fast-pt
  - pytest
  - pytest-cov
