name: test  # default testing environment name from conda-incubator
dependencies:
  - gfortran=12.2.0  # for isitgr
  - python=3.8
  - pip
  - setuptools_scm
  - cmake
  - gsl
  - fftw
  - swig
  - pyyaml
  - numpy
  - scipy
  - camb
  - fast-pt
  - pytest
  - pytest-cov
  - pytables  # for baccoemu
  - pyfftw  # for velocileptors
  - pip:
      #- classy<3
      - isitgr
      - velocileptors @ git+https://github.com/sfschen/velocileptors
      - baccoemu @ git+https://bitbucket.org/rangulo/baccoemu.git@master
      - MiraTitanHMFemulator
      - dark_emulator
