# Basic whitespace conventions.  Many editors can automatically
# follow the conventions specified here.  Check http://EditorConfig.org
# for details.

# This is the top-most EditorConfig file.
root = true

# C-code and python conventions:
# - 4-space indentation
# - no trailing whitespace
[**.{c,h,pp}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
