recursive-include cmake *
recursive-include include *
recursive-include src *
recursive-include pyccl *.i CMakeLists.txt
recursive-include examples *.c *.cc CMakeLists.txt
recursive-exclude examples *.ipynb
recursive-include tests *.c
recursive-exclude tests *.py *.eps
prune tests/benchmark
include CMakeLists.txt
include pyccl/CMakeLists.txt
include LICENSE
include LICENSE_COSMICEMU
include README.md
prune doc
prune readthedocs
prune .travis
exclude .*
